<h1>And we're home</h1>
<%= cl_image_tag("kzds3gaygz2fmj0sfxlw", width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("eyljxirec2ybc6slakst", width: 150, height: 150, crop: :thumb, gravity: :face) %>
